/* skills.css */

/* Resetting default margin and padding */
body, ul {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(/static/img/771517.jpg);
    color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* Styling the list items */
.skills-list ul {
    list-style-type: none;
}

/* Styling the images */
.logo {
    width: 50px;
    height: auto; /* Ensures aspect ratio is maintained */
}

/* Additional styles for the list items if needed */
.skills-list ul li {
    margin-bottom: 10px;
}
