/* skills.css */

/* Resetting default margin and padding */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(/static/img/mmm.gif);
    color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: White;
}
/* Styling the images */
.skills-list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    background-color: #0cd5f8;
    opacity: 0.7;     /* Light gray background color */
    padding: 20px;
    border-radius: 10px;
}

.skills-list ul li {
    width: calc(20% - 20px); /* Adjust width based on the number of items */
    text-align: center;
    background-color: #0cd5f8; /* White background color for list items */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
    transition: transform 0.3s ease; /* Smooth animation on hover */
}

.skills-list ul li:hover {
    transform: translateY(-5px); /* Move item up slightly on hover */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.logo {
    width: 100px;
    height: auto; /* Ensures aspect ratio is maintained */
}