<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Software Engineer - Python</title>
{% include 'include/navbar.html' %}
<link rel="stylesheet" href="static/css/contact.css">
</head>
<body>
<h1>Software Engineer - Python</h1>
<p>Contact Information:</p>
<ul>
  <li>Phone: +91-9043303021</li>
  <li>Email: <a href="https://www.meganathan.developer@gmail.com">meganathan7456@gmail.com</a></li>
  <li>LinkedIn: <a href="https://www.linkedin.com/in/meganathan-v-588589255">LinkedIn Profile</a></li>
  <li>GitHub: <a href="https://github.com/Meganathan2000">GitHub Profile</a></li>
  <li>telegram: <a href="https://www.t.me/cloudy_tamil">telegram Profile</a></li>
  <li>Whatsapp: <a href="https://https:www.//wa.me/qr/RTL6ANPSI4SWM1.com/Meganathan2000">Whatsapp Profile</a></li>

</ul>
<p>Location: Chennai, Tamil Nadu</p>
</body>
</html>
