<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Certifications</title>
</head>
<body>
{% include 'include/navbar.html' %}
<link rel="stylesheet" href="static/css/certifications.css">
<h1>Certifications</h1>
<ul>
  <li>Cyber Offensive & Defensive Engineering using Python - Beginner</li>
  <li>5-day Workshop on Agile & Scrum Methodology in Cloud Computing</li>
  <li>Certification of Completion for AWS Academy Graduate Foundation</li>
</ul>
</body>
</html>
