<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="static/css/experience.css">
<title>Work Experience</title>
{% include 'include/navbar.html' %}
</head>
<body>
<div class="container">
  <h1>Work Experience</h1>
  <p><strong>Junior Software Developer</strong><br>
  <span style="font-style: italic;">Hearzp IT Company (October 2023 - April 2024)</span></p>
  <ul>
    <li>Developed and maintained web applications using the Django framework, ensuring smooth application performance.<br>
    Worked with databases and ORM tools to manage data efficiently.<br>
    Learned and applied best practices in software development methodologies.<br>
    Successfully implemented new features to enhance user experience.<br>
    Received positive feedback for proactive problem-solving and teamwork.<br>
    Contributed to streamlining internal processes through the development of a key module.</li>
  </ul>
</div>
</body>
</html>
