<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/navbar.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
    <link rel="stylesheet" href="static/css/skills.css">
</head>
<body>
    <h1>My Skills</h1>
    <div class="skills-list">
        <h2>Languages & Frameworks</h2>
        <ul>
            <li><img src="/static/img/python-logo.png" class="logo" width="50"> Python</li>
            <li><img src="/static/img/html-logo.png" alt="HTML Logo" class="logo" width="50"> HTML</li>
            <li><img src="/static/img/css-logo.png" alt="CSS Logo" class="logo" width="50"> CSS</li>
            <li><img src="/static/img/django-logo.png" alt="Django Logo" class="logo" width="50"> Django</li>
            <li><img src="/static/img/flask-logo.png" alt="Flask Logo" class="logo" width="50"> Flask</li>
        </ul>
        
        <h2>Databases</h2>
        <ul>
            <li><img src="/static/img/mysql-logo.png" class="logo" width="50"> MYSQL</li>
            <li><img src="/static/img/db-logo.png" class="logo" width="50"> MAIADB</li>
        </ul>
        
        <h2>Cloud Technologies</h2>
        <ul>
            <li><img src="/static/img/aws-logo.png" class="logo" width="50"> AWS</li>
        </ul>
        
        <h2>Tools</h2>
        <ul>
            <li><img src="/static/img/postman-logo.png" class="logo" width="50"> POSTRMAN</li>
            <li><img src="/static/img/visual-studio-code-logo.png" class="logo" width="50"> VSCODE</li>
            <li><img src="/static/img/pycharm-logo.png" class="logo" width="50"> PyCharm</li>
            <li><img src="/static/img/anaconda-logo.png" class="logo" width="50"> Anaconda Python</li>
        </ul>
    </div>
</body>
</html>
