<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'include/navbar.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Skills</title>
    <link rel="stylesheet" href="static/css/skills.css">
</head>
<body>
    <h1>My Skills</h1>
    <div class="skills-list">
        <h2>Languages & Frameworks</h2>
        <ul>
            <ul>
                <li><img src="/static/img/python-logo.png"  class="logo"> Python</li>
                <li><img src="/static/img/html-logo.png" alt="HTML Logo" class="logo"> HTML</li>
                <li><img src="/static/img/css-logo.png" alt="CSS Logo" class="logo"> CSS</li>
                <li><img src="/static/img/django-logo.png" alt="Django Logo" class="logo"> Django</li>
                <li><img src="/static/img/flask-logo.png" alt="Flask Logo" class="logo"> Flask</li>
            </ul>
            
        </ul>
        <h2>Databases</h2>
        <ul>
            <li>MySQL</li>
        </ul>
        <h2>Cloud Technologies</h2>
        <ul>
            <li>AWS</li>
        </ul>
        <h2>Tools</h2>
        <ul>
            <li>POSTMAN</li>
            <li>SQL plus</li>
            <li>Vs Code</li>
            <li>PyCharm</li>
            <li>Anaconda Python</li>
        </ul>
    </div>
</body>
</html>
